body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    text-align: center;
    color: white;
}

.form-box {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    color: black;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px;
}

button {
    padding: 10px;
    width: 100%;
    background: #667eea;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}